h1,h2,h3,h4,h5,h6,a{
    font-family: 'Roboto', sans-serif;
}
span,p{
    font-family: 'Rubik', sans-serif;
}


/* header */
.header{
    box-shadow: 1px 1px 20px #ddd;
    padding: 0;
    background-color: #fff;
}
.header .container-fluid{
    max-width: 1250px;
    padding: 0;
}
.header a{}
.header a img{}


ul.primary-menu{}
ul.primary-menu li {
	position: relative;
	padding: 22px 0;
}
ul.primary-menu li ul {
	position: absolute;
	top: 119%;
	left: 0;
	padding-left: 25px;
	padding-top: 10px;
	width: 200px;
	list-style: none;
	background-color: #fff;
	box-shadow: 1px 1px 20px #ddd;
	padding-bottom: 10px;
	opacity: 0;
	visibility: hidden;
	transition:  all .5s ease-in-out;
}
ul.primary-menu li:hover > ul {
	visibility: visible;
	opacity: 1;
	top: 64px;
}
ul.primary-menu li ul li{
    padding: 0;
    position: relative;
}
ul.primary-menu li ul li ul {
	position: absolute;
	top: 20%;
	left: 100%;
	width: 200px;
}
ul.primary-menu li ul li:hover ul {
	top: 0px;
}
ul.primary-menu ul li a span {
	margin-left: 84px;
}
ul li a strong {
	font-size: 10px;
}
ul.primary-menu li ul li ul li{}
ul.primary-menu li ul li ul li a{}
ul.primary-menu li ul li a{
    padding: 10px 0;
    display: block;
	transition: .5s;
}
ul.primary-menu li ul li a:hover {
	letter-spacing: 1px;
}


ul.primary-menu li a {
	text-decoration: none;
	color: #111;
	padding: 0 17px;
	font-weight: 500;
	font-size: 15px;
}
ul.primary-menu li:hover > a{
    color: #e83b3e;

}


.header-info{}

.header-search{}
.header-search span {
	margin-right: 21px;
	padding-right: 15px;
	border-right: 1px solid #9f9b9b;
	font-size: 20px;
    display: inline-block;
    cursor: pointer;
	position: relative;
}
.header-search span ul {
	list-style: none;
	position: absolute;
	top: 191%;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease-in-out;
}
.header-search span:hover ul {
	visibility: visible !important;
	opacity: 1 !important;
	top: 149%;
}
.header-search span ul li {
	background: #fff;
	padding: 20px;
	box-shadow: 1px 1px 20px #ddd;
}
.header-search span ul li input {
	border: 1px solid #ddd;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 12px;
}
/* .header-search span ul li input{
	display: block;
	width: 100%;
	height: 50px;
	line-height: initial;
	border: 1px solid #eee;
	color: #111;
	outline: 0;
	-webkit-transition: .5s;
	transition: .5s;
	padding-top: 4px;
	padding-left: 10px;
} */
/* .header-search span ul li button{
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	background: 0 0;
	border: none;
	width: 50px;
	outline: 0;
	color: #606060;
	-webkit-transition: .5s;
	transition: .5s;
	padding: 0;
} */

.header-call-info {
	width: 185px;
}
.header-call{}
.header-call span {
	font-size: 31px;
	transform: rotate(-35deg);
	display: inline-block;
	color: #e83b3e;
	margin-right: 8px;
	position: relative;
	top: 5px;
}
.header-call-content{}
.header-call-content span {
	font-size: 18px;
	color: #606060;
	font-weight: 400;
}
.header-call-content a {
	color: #111;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}


.header-btn{}
.defult-btn {
	background: #e83b3e;
	color: #fff;
	margin-left: 26px;
	padding: 8px 37px;
	font-size: 17px;
	position: relative;
	z-index: 1;
	transition: .5s;
	border: 1px solid transparent;
}
.defult-btn::before {
	content: "";
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #111;
	z-index: -1;
	transition: .5s;
}
.defult-btn:hover::before{
    width: 100%;
}
.defult-btn:hover{
    color: #fff;
    border: 1px solid #111;
}

/* banner */

.banner{
    background: url(img/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    height: 110vh;
    position: relative;
	background-attachment: fixed;
}
.banner-content {
	padding-top: 250px;
	padding-left: 34px;
}
.banner-content h6 {
	color: #e83b3e;
	font-weight: 400;
	margin-bottom: 20px;
	font-size: 18px;
}
.banner-content h2 {
	font-size: 54px;
	font-weight: 600;
	margin-bottom: 20px;
}
.banner-content p{
    color: #606060;
    font-size: 18px;
    margin-bottom: 20px;
}
.banner-content a{
    margin: 0;
}
.banner-content ul {
	position: absolute;
	left: 17px;
	bottom: 0;
}
.banner-content ul li{
    display: inline-block;
}
.banner-content ul li span {
	position: relative;
	margin-right: 40px;
}
.banner-content ul li span::after {
	content: "";
	height: 1px;
	width: 27px;
	top: 53%;
	left: 78px;
	position: absolute;
	background: #111;
}
.banner-content ul li a {
	display: inline-block;
	color: #111;
	text-decoration: none;
	margin-right: 10px;
	font-size: 20px;
	transition: .5s;
}
.banner-content ul li a:hover{
	color: #e83b3e;
}